
header{
    height: 20vh;
    width: 100vw;
}

div{
    max-width: 100vw;
}

img{
    width: 90vw;
    height: 55vh;
    object-fit: cover;
}

footer{
    min-height: 10vh;
}

.myflex,
.myflexrev,
.myflexrev2{
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
}

.grille{
    margin: 5px;
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.case{
    grid-column: auto;
    padding: 10px;
}

#logo{
    margin: 0;
    padding: 0;
    max-height: 15vh;
    max-width: 15vh;
    object-fit: scale-down;
}

#plus{
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (min-width: 600px){
    img{
        max-width: 40vw;
        height: auto;
        object-fit: scale-down;
    }

    #slider{
        img{
            filter: grayscale(100%);
            max-width: 19.4vw;
        }
        img:hover{
            filter: none;
        }
    }

    .myflex{
        flex-direction: row;

        div{
            h2,
            p{
                padding-left: 10px;
            }
        }
    }

    .myflexrev{
        flex-direction: row-reverse;

        div{
            h2,
            p{
                padding-right: 10px;
            }
        }
    }

    .myflexrev2{
        flex-direction: row-reverse;

        div{
            h2,
            p{
                text-align: end;
                padding-right: 10px;
            }
        }
    }

    .grille{
        margin: 5px 20vw;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    #greyplus:hover{
        filter: grayscale(100%);

        #plus{
            visibility: visible;
            text-decoration: none;
            color: white;
            font-size: 30px;
        }
    }
}
